@model API.Areas.Admin.Models.DocumentRefers.DocumentRefersModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Biểu mẫu";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Biểu mẫu";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>Chi tiết tài liệu tham khảo</h4>
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tiêu đề <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control Changetitle namepr" asp-for="Item.Title" name="Title">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Alias">Alias<sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control slug" asp-for="Item.Alias" name="Alias">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.CatId">Danh mục </label>
                        <select asp-for="Item.CatId" name="CatId" class="form-control" asp-items="Model.ListDocumentsCategories"></select>
                    </div>
                </div>

              
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <label asp-for="Item.Link">File Văn bản <sup class="text-danger"> (*)</sup></label>
                    <div class="input-group mb-3">
                        <input type="text" id="Item_Images" class="form-control" asp-for="Item.Link" name="Link">

                        <div class="input-group-prepend">
                            <a href="javascript:openCustomRoxy()" class="btn btn-primary">Chọn File</a>
                        </div>
                    </div>

                    <div id="roxyCustomPanel" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content content-set-image">
                                <iframe src="/lib/fileman/index.html?integration=custom&langCode=vi" style="width:100%;height:100%" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.IssuedDateShow">Ngày <sup class="text-danger"> (*)</sup></label>
                        <div class="input-group date" id="IssuedDateShow" data-target-input="nearest">
                            <input type="text" asp-for="Item.IssuedDateShow" name="IssuedDateShow" class="form-control datetimepicker-input" data-target="#IssuedDateShow" />
                            <div class="input-group-append" data-target="#IssuedDateShow" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Author">Tác giả<sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Author" name="Author">
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="Item.Status"> &nbsp; &ensp; &ensp;</label>
                        <div class="custom-control custom-checkbox custom-control">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>
                    </div>
                </div>


            </div>
           

           


            <div class="form-group">
                <label asp-for="Item.Introtext">Trích Yếu</label>
                <textarea asp-for="Item.Introtext" name="Introtext" class="form-control"></textarea>
            </div>
     

            <input type="submit" class="btn btn-primary" name="SaveItem" value="Lưu" />
            <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index">Hủy</a>
            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>

<script src="~/js/moment.js"></script>
<script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="~/js/jquery.base64.min.js"></script>
<script type="text/javascript" src="~/js/jquery.binarytransport.js"></script>


<script type="text/javascript">

    $(function () {

        $('#IssuedDateShow').datetimepicker({ format: 'DD/MM/YYYY', });
    });
</script>
