
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navigation nlist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline  ">
                    <li>
                        <a href="/">Trang chủ</a>
                        <i class="fa fa-angle-right"></i>
                        <a asp-controller="Contacs" asp-action="Index">Tải file</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron mt-5 mb-5">
                <h3 class="display-5">@ViewData["Ticket"]</h3>                
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/" role="button">Quay lại trang chủ</a>
                </p>
            </div>
        </div>
     </div>
</div>




