<div class="position-fixed top-50 start-0 translate-middle">
    <nav class="" id="mainNav">
        <a class="navigation__link active" href="#1"></a>
        <a class="navigation__link" href="#2"></a>
        <a class="navigation__link" href="#3"></a>
        <a class="navigation__link" href="#4"></a>
        <a class="navigation__link" href="#5"></a>
    </nav>
</div>

<div class="page-section hero" id="1">
    <!-- <div class="overlay"></div> -->
    <div class="container p-0">
        <div class="row no-gutters justify-content-between align-items-center full-height">
            <div class="col-lg-4 col-md-6 d-md-flex align-items-end col-12">
                <h1>Smooth scroll, fixed jump menu with active class</h1>
            </div>
            <div class="col-lg-4 col-md-6 d-md-flex align-items-end col-12">
                <div>
                    <p class="text-justify">This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored "Try it Yourself" link.</p>
                    <button class="btn btn-primary">
                        <h4>Tìm hiểu thêm</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section" id="2">
    <div class="container p-0">
        <div class="row no-gutters justify-content-center align-items-center full-height">
            <div class="d-md-flex align-items-end col-12">
            </div>
        </div>
    </div>
</div>