@model API.Areas.Admin.Models.SurveyQuestion.SurveyQuestionModel
@{
    if (Model.Item.Id == 0) {
        ViewData["Title"] = "Thêm mới phương án";
    }
    else
    {
        ViewData["Title"] = "Cập nhật phương án";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.SurveyId">Chọn khảo sát</label>
                        <select asp-for="Item.SurveyId" name="SurveyId" class="form-control" asp-items="Model.ListSurvey"></select>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tiêu đề <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title">
                    </div>
                </div>
            </div>
                        
            <div class="form-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                    <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                </div>
            </div>
           
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index" asp-route-SurveyId="@Model.Item.SurveyId"><i class="fas fa-backward"></i> Quay Lại</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
        </form>
    </div>
</div>

