<div class="modal fade" id="notification" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body">
                @TempData["MessageSuccess"]@TempData["MessageError"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeNotification">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script src="~/ttudkhcn/js/notification.js"></script>