@using Microsoft.AspNetCore.Http
@{
    int IdCoQuan = int.Parse(Context.Session.GetString("IdCoQuan"));
    string TenCoQuan = Context.Session.GetString("TenCoQuan");
    var LangId = Context.Session.GetString("LangId");

}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" asp-controller="Home" asp-action="Index">@TenCoQuan</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item no-arrow xs-hide">
            <div class="input-group mb-2">
                <form id="ChangeLanguageSLT">
                    <select class="form-control mr-3" name="LangId">
                        @if (LangId == "VI")
                        {
                            <option value="VI" selected>Tiếng Việt</option>
                        }
                        else
                        {
                            <option value="VI">Tiếng Việt</option>
                        }

                        @if (LangId == "EN")
                        {
                            <option value="EN" selected>Tiếng Anh</option>
                        }
                        else
                        {
                            <option value="EN">Tiếng Anh</option>
                        }

                    </select>
                </form>

            </div>
        </li>
        <li class="nav-item no-arrow">
            <a class="nav-link" target="_blank" href="/">
                <i class="fas fa-home"></i> <span class="xs-hide">Trang Chủ</span>
            </a>

        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" asp-controller="Account" asp-action="Info">Thông tin tài khoản</a>
                <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Đổi mật khẩu</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Thoát</a>
            </div>
        </li>
    </ul>

</nav>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn thoát khỏi hệ thống?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sau khi ấn nút Thoát, Hệ thống sẽ xóa session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Không</button>
                <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Thoát</a>
            </div>
        </div>
    </div>
</div>