@model API.Areas.Admin.Models.DocumentsField.DocumentsFieldModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Lĩnh Vực Văn bản";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Lĩnh Vực Văn bản";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}v 

<div class="card">
    <div class="card-header">
        <h4>Chi tiết Lĩnh Vực Văn bản</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tiêu đề tài liệu <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control Changetitle namepr" asp-for="Item.Title" name="Title">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Alias">Alias<sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control slug" asp-for="Item.Alias" name="Alias">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                    <label class="custom-control-label" asp-for="Item.Status"></label>
                </div>              
            </div>
            <div class="form-group">
                <label asp-for="Item.Description">Mô tả</label>
                <textarea asp-for="Item.Description" name="Description" class="form-control"></textarea>
            </div>

            <input type="submit" class="btn btn-primary" name="SaveItem" value="Lưu" />
            <a class="btn btn-info" asp-controller="@ControllerName" asp-action="Index">Quay Lại</a>
            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>

