<div class="hero-wrap">
    <div class="container full-height">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-12 d-flex justify-content-center" data-aos="fade-up">
                <div class="text navigation nlist icon-wrap">
                    <div class="d-flex justify-content-center">
                        <img src="~/TMDT/images/wrench.png" class="is-developing icon" />
                    </div>
                    <ul class="list-inline heading-title">
                        <li class="text-white">
                            Chức năng đang được cập nhật, vui lòng quay lại sau!
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>