@model API.Areas.Admin.Models.USUsers.ChangePassword
@{
    ViewData["Title"] = "Đổi mật khẩu";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <partial name="_PartialMsgInfoAdmin" />
        <form asp-controller="@ControllerName" asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label asp-for="OldPassword">Mật khẩu cũ <sup class="text-danger"> (*)</sup></label>
                <input type="password" class="form-control" asp-for="OldPassword" name="OldPassword">
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Mật khẩu Mới <sup class="text-danger"> (*)</sup></label>
                <input type="password" class="form-control" asp-for="NewPassword" name="NewPassword">
            </div>
            <div class="form-group">
                <label asp-for="RePassword">Nhập lại mật khẩu <sup class="text-danger"> (*)</sup></label>
                <input type="password" class="form-control" asp-for="RePassword" name="RePassword">
            </div>
            <input type="hidden" class="form-control" asp-for="Id" name="Id">
            <input type="submit" class="btn btn-primary" name="SaveItem" value="Đổi mật khẩu" />
        </form>
    </div>
</div>

