
@{
    ViewData["Title"] = "Index";
    
}

<h2>Index</h2>
<p><strong>You are here: </strong>Area1/Home/Index</p>


<form asp-controller="Login" asp-action="Index" method="post">
    <h1>Hello ch 333ao</h1>

    <!-- Input and Submit elements -->
    <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>" />
</form>


