@model API.Areas.Admin.Models.USUsers.AccountLogin
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();

    Layout = "_layoutLogin";
    ViewData["Title"] = "Đăng nhập hệ thống";
}


@if (showBanner)
{
    <div id="mycookie" style="display:none;" data-cookie-string="@cookieString"></div>
    <script>
        document.cookie = document.getElementById("mycookie").dataset.cookieString;
        console.log(document.getElementById("mycookie").dataset.cookieString);
    </script>
}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">

        <div class="user_card">
        

            <div class="logo">
                <img src="~/ttudkhcn/images/Logo-Sg.png" />
            </div>
            <div class="text-center">
                <h5 class="head">ĐĂNG NHẬP HỆ THỐNG </h5>
            </div>

            <div class="d-flex justify-content-center form_container">


                <form asp-controller="Account" asp-action="Login" method="post" id="myform" class="login_container" style="width:100%;">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input autofocus type="text" asp-for="UserName" class="form-control input_user" placeholder="Tài Khoản" required>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="Password" asp-for="Password" class="form-control input_pass" placeholder="Mật Khẩu" required>
                        <input type="hidden" class="form-control" id="token_recaptcha" name="TokenRecaptcha">
                    </div>
                    @*<div class="input-group mb-2">
                        <select class="form-control" name="LangId">
                            <option value="VI">Tiếng Việt</option>
                            <option value="EN">Tiếng Anh</option>
                        </select>
                    </div>*@

                    <div class="text-danger small">@TempData["MessageError"]</div>
                </form>
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <button id="send" type="button" name="button" class="btn login_btn">Đăng nhập</button>
            </div>
            <div class="mt-5">
                <div class="d-flex justify-content-center links small">
                    Sản phẩm của <a href="https://daklak.vnpt.vn/" target="_blank" style="margin-left:3px"> VNPT</a>

                </div>

            </div>
        </div>
    </div>
</div>

<div style="display:none">
    <div>@Context.Session.GetString("LoginError")</div>
    <div>@Context.Session.GetString("Login")</div>
</div>

<script>
    $(document).ready(function () {

        $("#send").click(function (e) {
            e.preventDefault();
            $("#myform").submit();
        });

        $('input').keypress(function (e) {
            if (e.which == 13) {
                $('form#myform').submit();
                return false;    //<---- Add this line
            }
        });
    });


</script>