@model API.Areas.Admin.Models.PAKN.PAKNModel
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@inject IOptions<RecaptchaSettings> RecaptchaSettings

@{
    ViewData["Title"] = "Tiếp nhận thông tin về tình hình thi hành pháp luật";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}


<div class="navigation nlist">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline  ">
                    <li>
                        <a href="/">Trang chủ</a>
                        <i class="fa fa-angle-right"></i>

                        <a asp-controller="PAKN" asp-action="Index">Tiếp nhận thông tin về tình hình thi hành pháp luật</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">

    <div class="row ">
        <div class="col-lg-3 col-md-12 col-sm-12 mt-4">
            <div class="card mb-4">
                <img class="card-img-top" src="~/ttudkhcn/images/PAKN.jpg" alt="Gửi tin bài ">
                <div class="card-body">
                    <h5 class="card-title"><strong>Tiếp nhận thông tin về tình hình thi hành pháp luật</strong> </h5>
                    <p class="card-text small-f1">Chuyên mục tiếp nhận các phản ánh kiến nghị về tình hình thi hành pháp luật.</p>

                </div>

            </div>
        </div>

        <div class="col-lg-9 col-md-12 col-sm-12 mt-4">

            <div class="row">

                <div class="col-lg-12">
                    <div class="white-box mb-4">
                        <div asp-validation-summary="All" class="myValidation"></div>
                        <partial name="_PartialMsgInfo" />
                        <form asp-controller="@ControllerName" asp-action="Index" method="post" enctype="multipart/form-data">


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Item.Title">Tiêu đề <sup class="text-danger"> (*)</sup></label>
                                        <input type="text" asp-for="Item.Title" name="Title" class="form-control" />
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="Item.Description">Nội dung <sup class="text-danger"> (*)</sup></label>
                                        <textarea asp-for="Item.Description" id="Description" name="Description" class="form-control" style="height:250px"> </textarea>
                                    </div>


                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Item.Fullname">Họ Tên <sup class="text-danger"> (*)</sup></label>
                                        <input type="text" class="form-control" asp-for="Item.Fullname" name="Fullname">
                                    </div>
                                </div>
                               
                            </div>



                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Item.Phone">Điện Thoại <sup class="text-danger"> (*)</sup></label>
                                        <input type="tel" pattern="[0-9]{10}" class="form-control" asp-for="Item.Phone" name="Phone"   >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Item.Email">Email <sup class="text-danger"> (*)</sup></label>
                                        <input type="email" class="form-control" asp-for="Item.Email" name="Email">
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Item.Address">Địa Chỉ <sup class="text-danger"> (*)</sup></label>
                                        <input type="text" class="form-control" asp-for="Item.Address" name="Address">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Item.Introtext">Đơn vị công tác <sup class="text-danger"> (*)</sup></label>
                                        <input type="text" class="form-control" asp-for="Item.Introtext" name="Introtext">
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="form-group">
                                        <ul class="list-inline">
                                            <li class="list-inline-item" style="vertical-align:middle">

                                                <label asp-for="Item.Link">File đính kèm</label>
                                                <input type="file" class="btn btn-warning" name="FileAttached" />


                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8 col-12">
                                    <div class="form-group">
                                        @Html.Recaptcha(RecaptchaSettings?.Value)
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12 text-right">
                                    <input type="submit" class="btn btn-primary" name="SaveItem" value="Gửi thông tin" />
                                    <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Thoát</a>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
                            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

                        </form>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>



@section Scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script>

        $(function () {
            CKEDITOR.replace('Description', {
                height:"300px"
            });
        });
    </script>
 
}


