@model API.Areas.Admin.Models.MucDichSuDung.MucDichSuDungModel;
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Banner/Liên Kết";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Banner/Liên Kết";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.TenMucDich">Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.TenMucDich" name="TenMucDich">
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-primary" name="SaveItem" value="Lưu" />
            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>