@{
    Layout = "~/Views/Shared/_emptyLayout.cshtml";
}

<div class="DCD-frame">
    <div class="return-home d-flex justify-content-center align-items-center">
        <a class="nav-link d-flex justify-content-center align-items-center" href="/EN"> <i class="fa fa-home"></i></a>
    </div>
    <iframe class="frame" src="//diachido.vnpt.vn/daklak_3dtour.html" title="Địa chỉ đỏ - Đài tưởng niệm giao bưu VNPT Đắk Lắk"></iframe>
</div>