@model API.Areas.Admin.Models.Partial.PartialPagination
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string Url = "";
    if (Model.CurrentPage <= 0)
    {
        Model.CurrentPage = 1;
    }

    if (Model.QueryString == null || Model.QueryString == "") {
        Url = "";
    }
    else {
        string OldUrl = Model.QueryString.Substring(1);
        

        List<string> ListUrl = OldUrl.Split("&").ToList();
        if (ListUrl != null && ListUrl.Count() > 0) {
            for (int i = 0; i < ListUrl.Count(); i++) {
                if (ListUrl[i].StartsWith("CurrentPage") == false) {
                    if (Url == "")
                    {
                        Url = ListUrl[i];
                    }
                    else {
                        Url = Url + "&"+ListUrl[i];
                    }

                }
            }

    }
    }
    
    if (Url == "")
    {
        Url = "?" +"CurrentPage";
    }
    else {
        Url = "?" + Url+"&CurrentPage";
    }

    //string Url = "/Admin/" + @controllerName + "/Index"; //+ Model.QueryString + "&CurrentPage";
    decimal Start = 1;
    decimal Links = 11; //Number of frequency links to show at one time ;

    decimal Last = Math.Ceiling(Model.TotalItems / Model.ItemsPerPage);
    decimal End = 1;
    if (Last <= 0)
    {
        Last = 1;
    }
    if ((Model.CurrentPage + Math.Floor(Links / 2)) < Last)
    {
        if ((Model.CurrentPage > Math.Floor(Links / 2)))
        {
            End = Model.CurrentPage + Math.Floor(Links / 2);
        }
        else
        {
            End = Links;
        }
    }
    else
    {

        End = Last;
    }

    if ((Model.CurrentPage - Math.Floor(Links / 2)) > 1)
    {
        if ((Model.CurrentPage > Math.Floor(Links / 2)))
        {
            Start = Model.CurrentPage - Math.Floor(Links / 2);
            if ((End - Start) < Links)
            {
                Start = End - Links + 1;
            }

        }

    }


}


@if (Last <= 1)
{

}
else
{
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage == 1)
            {
                <li class="page-item disabled"><a  class="page-link" href="@Url=1">Đầu</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Url=1">Đầu</a></li>
            }

            @if (Model.CurrentPage > 1 && Last > 1)
            {
                <li class="page-item"><a class="page-link" href="@Url=1"><span aria-hidden="true">&laquo;</span></a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="@Url=1"><span aria-hidden="true">&laquo;</span></a></li>
            }
            @for (decimal i = Start; i <= End; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">@i <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="@Url=@i">@i</a></li>
                }

            }
            @if (Model.CurrentPage < Last && Last > 1)
            {
                <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
            }

            @if (Model.CurrentPage == Last)
            {

                <li class="page-item disabled"><a class="page-link" href="#">Cuối</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Url=@Last">Cuối</a></li>
            }

        </ul>
    </nav>
}